In [ ]:
# Revisão dicionário python
# UF = unidade da federação

dados_salarios_programadores = {
    'UF' : [ 'MS', 'RJ', 'SP', 'SC','RS', 'BA'],
    'Qyantidade': [100, 2000, 10000, 1000, 1500, 700],
    'Salario': [1200, 4000, 6000, 4000, 5000, 2000]
}

#Quero mostrar o UF 'BA' junto com o Salario
uf_BA = dados_salarios_programadores['UF'][5]
salario_BA = dados_salarios_programadores['Salario'][5]


print("%s - %s" % (uf_BA, salario_BA))

BA - 2000

In [ ]:
import pandas as pd

tabela = pd.DataFrame(dados_salarios_programadores)

In [ ]:
tabela.sort_values(by=['Salario'], ascending = False)

In [ ]:
import pandas as pd

#Importação de dados sobre escolaridade ibge
url_arquivo_csv = 'https://raw.githubusercontent.com/lucasgian/python_2/main/escolarizac%CC%A7a%CC%83o.csv'
dados_escolaridade = pd.read_csv(url_arquivo_csv)

pd.DataFrame(dados_escolaridade)

In [ ]:
# Importação de dados sobre renda ibge

url_arquivo_csv = 'https://raw.githubusercontent.com/lucasgian/python_2/main/pib-per-capita-r.csv'
dados_renda = pd.read_csv(url_arquivo_csv)
dados_renda.rename(columns = { 'valor' : 'renda'}, inplace = True )

pd.DataFrame(dados_renda)

    periodo     renda
0      2009  17271.34
1      2010  19938.60
2      2011  22259.91
3      2012  24278.35
4      2013  26657.54
5      2014  28648.74
6      2015  29466.85
7      2016  30558.75
8      2017  31843.95
9      2018  33593.82
10     2019  35161.70
11     2020  35935.69

In [ ]:
# Quero  jutar os dados de escolaridade e renda em uma tabela só

dados_juntos = pd.merge(dados_escolaridade, dados_renda, on = 'periodo')

pd.DataFrame(dados_renda)

In [ ]:
import matplotlib.pyplot as plt

indicacao = dados_juntos['periodo']

fig, ax = plt.subplots()

ax.pie(dados_juntos['valor'], labels=indicacao)